<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig4cloud.pigx.daemon.quartz.mapper.SysJobLogMapper">
	<resultMap id="sysJobLogMap" type="com.pig4cloud.pigx.daemon.quartz.entity.SysJobLog">
		<id property="jobLogId" column="job_log_id"/>
		<result property="jobId" column="job_id"/>
		<result property="jobName" column="job_name"/>
		<result property="jobGroup" column="job_group"/>
		<result property="jobOrder" column="job_order"/>
		<result property="jobType" column="job_type"/>
		<result property="executePath" column="execute_path"/>
		<result property="className" column="class_name"/>
		<result property="methodName" column="method_name"/>
		<result property="methodParamsValue" column="method_params_value"/>
		<result property="cronExpression" column="cron_expression"/>
		<result property="jobMessage" column="job_message"/>
		<result property="jobLogStatus" column="job_log_status"/>
		<result property="executeTime" column="execute_time"/>
		<result property="exceptionInfo" column="exception_info"/>
		<result property="createTime" column="create_time"/>
		<result property="tenantId" column="tenant_id"/>
	</resultMap>
</mapper>
