<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig4cloud.pigx.daemon.quartz.mapper.SysJobMapper">
	<resultMap id="sysJobMap" type="com.pig4cloud.pigx.daemon.quartz.entity.SysJob">
		<id property="jobId" column="job_id"/>
		<result property="jobName" column="job_name"/>
		<result property="jobGroup" column="job_group"/>
		<result property="jobOrder" column="job_order"/>
		<result property="jobType" column="job_type"/>
		<result property="executePath" column="execute_path"/>
		<result property="className" column="class_name"/>
		<result property="methodName" column="method_name"/>
		<result property="methodParamsValue" column="method_params_value"/>
		<result property="cronExpression" column="cron_expression"/>
		<result property="misfirePolicy" column="misfire_policy"/>
		<result property="jobTenantType" column="job_tenant_type"/>
		<result property="jobStatus" column="job_status"/>
		<result property="jobExecuteStatus" column="job_execute_status"/>
		<result property="createBy" column="create_by"/>
		<result property="createTime" column="create_time"/>
		<result property="updateBy" column="update_by"/>
		<result property="updateTime" column="update_time"/>
		<result property="starttime" column="startTime"/>
		<result property="previoustime" column="previousTime"/>
		<result property="nexttime" column="nextTime"/>
		<result property="tenantId" column="tenant_id"/>
		<result property="remark" column="remark"/>
	</resultMap>
</mapper>
