<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.daemon.elastic.mapper.StatusTraceLogMapper">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap type="com.pig4cloud.pigx.daemon.elastic.entity.StatusTraceLog" id="statusTraceLogMap">
		<id property="id" column="id"/>
		<result property="jobName" column="job_name"/>
		<result property="originalTaskId" column="original_task_id"/>
		<result property="taskId" column="task_id"/>
		<result property="slaveId" column="slave_id"/>
		<result property="source" column="source"/>
		<result property="executionType" column="execution_type"/>
		<result property="shardingItem" column="sharding_item"/>
		<result property="state" column="state"/>
		<result property="message" column="message"/>
		<result property="creationTime" column="creation_time"/>
	</resultMap>
</mapper>
